@model GSMC20241103.Models.Computadora

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Registro</h1>

<h4>Computadoras</h4>
<hr />

    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
        <div class="form-group col-md-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        <div class="form-group col-md-3">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
        <div class="form-group col-md-2">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            </div>
            <div class="row row-cols-md-12">
                @await Html.PartialAsync("_Componente", Model.Componente)
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
            </div>


        </form>
    </>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
